@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

#container {
  margin: 50px 100px 0px 100px;
  font-family: Oswald, Verdana, Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  background: #3c275a;
  color: #fff;
  border: solid 1px #d6a800;
  padding: 10px;
}

a {
  color: #4f3674;
  text-decoration: none;
}

a:hover {
  background: #d6a800;
  color: #4f3674;
}

a:visited {
  color: #3c275a;
}
