/**
    Title: mclaurine-temp-conversion.css, 
    Author: Trevor McLaurine
    Date: 1/16/2023
    Description: Styling for Temperature Conversion App
**/

#container {
    width: 600px; 
    margin:0 auto; 
}

.app-header {
    text-align: center;
    font-weight: 400; 
}

#results {
    text-align: center;
    font-size: 28px;
}